# Salin file ini menjadi ".env" lalu sesuaikan dengan pengaturan 9Router kamu.
# Jangan pernah membagikan file ".env" kamu ke publik karena berisi API Key rahasia!

NINEROUTER_BASE_URL=http://localhost:123456/v1
NINEROUTER_API_KEY=isi_api_key_9router_di_sini
